[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "diamond_contracts"]
	url = https://github.com/BrilliantBlocks/diamond-contracts
	path = lib/diamond_contracts
