.nav {
    left: 0;
    width: 95vw;
    justify-content: flex-end;
    overflow-x: hidden;
    background-color: rgb(6, 2, 24);
    padding-bottom: 0.4rem;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content {
    display: flex;
    align-items: center;
    margin-block: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    margin-top: 0 !important
}

.logo_container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem
}

.logo {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-left: 0.3rem;
    margin-right: 1rem;
    text-transform: none;
    color: #fac079
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.7rem;
}

.button {
    min-height: 2.25rem;
    border-radius: 7px;
    font-weight: 500;
    font-family: 'Helvetica';
}

.yellow {
    background-color: #fac079;
    color: #08042F
}

.btn_light {
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    padding: 0.4rem;
    min-width: 8rem !important;
    background-color: #d0d0d0;
}

.btn_connected {
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 800;
    padding: 0.4rem 3rem;
    min-width: 8rem !important;
}

.btn_light:hover {
    background-color: #fac079 !important;
}

.btn_accent {
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem !important;
}

.btn_accent:hover {
    background-color: #729AB1;
    color: #fff
}

.btn_search {
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #d0d0d0 !important
}